<!DOCTYPE html>
<html>
<head>
<style>
html, body{
	width:100%;
    height:100%;
   margin:0;
}
.flex-container {
  width:100%;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  background-color: Black;
}

.flex-container > div {
  background-color: White;
  width: 46%;
  margin: 2%;
  text-align: center;
  line-height: 60%;
  font-size: 30px;
 

}

</style>
</head>
<body>


<div class="flex-container">
  <div>Connection
  </div>
  <div>Battery</div>
  <div>Latitude</div>  
  <div>Longitude</div>
  <div>Distance</div>
  <div>Orientaion</div>  
  
</div>


</body>
</html>
